<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="../plugins/air-datepicker/css/datepicker.min.css">
	 <script type="text/javascript" src="../plugins/jQuery/jquery.js"></script>
	 <script src="../plugins/air-datepicker/js/datepicker.js" type="text/javascript" ></script>
	 <script src="../plugins/air-datepicker/js/i18n/datepicker.zh.js" type="text/javascript" ></script>
</head>
<body>
<div>
<input type="text" class="datepicker-input" data-language="zh">
	
</div>
	<script type="text/javascript">
		$(function(){
			$(".datepicker-input").datepicker({
				"autoClose": true,   //自动关闭
				// "inline": false,  //是否一直可见
				 "startDate": Date(2017-10-20),
				"range":true    //时间段
			});
		});
	</script>
</body>
</html>